// noinspection CssUnknownProperty, CssOverwrittenProperties
%hyphenate {
    word-break: break-all;
    word-break: break-word; // non standard for webkit

    hyphens: auto;

    hyphenate-before: 2;
    hyphenate-after: 3;
    hyphenate-lines: 3;
}
