// noinspection CssUnknownProperty, CssOverwrittenProperties
%hyphenate {
    word-break: break-all;

    // non standard for webkit
    word-break: break-word;

    hyphens: auto;

    hyphenate-before: 2;
    hyphenate-after: 3;
    hyphenate-lines: 3;
}
